.onboarding-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.onboarding {
  font-size: clamp(2rem, 10vw, 5rem);
  padding: 1rem;
}
